# Obtain from https://www.amphenol-cs.com/product/ue27bc54100.html
UE27BC54100--3DModel-STEP-554624.STEP

# Obtain from https://www.amphenol-cs.com/product/gsb12121031eu.html
GSB12121031EU--3DModel-STEP-554624.STEP
